body {
    background-color: #cb0162;
    font-family: sans-serif;
    color: #062e03;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#wrapper {
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #062e03;
}

#wrapper p {
    font-size: 2rem;
}

input[type="button"] {
    border: 1px solid #062e03;
    background-color: #cb0162;
    color: #fff;
    border-radius: 3px;
    padding: 2px;
    font-size: 1.5rem;
    width: 60px;
    height: 40px;
}

input[type="button"]:hover {
    box-shadow: 0px 0px 5px #062e03;
}
